* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    color: #fff;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #121212;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #c0392b;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #000000, #000000);
    padding: 0 20px;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
}

.hero-text p {
    font-size: 1.2rem;
}

.section, .projects-section {
    padding: 50px 20px;
    text-align: center;
}

.section h2, .projects-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e0afff;
}

a { 
color: #e0afff;
text-decoration: none;
}

.section p, .projects-section p {
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000000;
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #c0392b;
}

.projects-section {
    padding: 50px 20px;
    text-align: center;
}

.projects-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #c0392b;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-info {
    padding: 20px;
    text-align: left;
}

.project-info h3 {
    margin-bottom: 10px;
    color: #c0392b;
}

.project-info p {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #000000;
    color: #777;
}

.i-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.i-card {
    align-items: center;
    background-color: #000000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.i-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .i-info {
    padding: 20px;
    text-align: center;
}

.i-info h3 {
    font-size: 2.1rem;
    margin-bottom: 10px;
    color: #ffffff;
}

i {
    font-size: 24px;
    color: #000000;
}

.i-info p {
    margin-bottom: 15px;
}

.i-info .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    background-color: #ffffff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
  }

.i-info .button:hover {
    background-color: #9d9d9d;
}
